html {
  height: 100%;
}

body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  margin: 50 auto 0 auto;
  font-family: "sacramento";
  font-size: 5.655rem;
  z-index: 0;
  color: #66bfbf;
  line-height: 2;
}

.top-container {
  /* background-color: rgb(241, 235, 235); */
  position: relative;
  padding-top: 100px;
  z-index: -2;
  margin-bottom: 10px;
}

.btm-cloud {
  position: absolute;
  left: 400px;
  bottom: 300px;
}
.top-cloud {
  position: absolute;
  right: 400px;
  top: 50px;
}
.cloud {
  position: absolute;
  left: 800px;
  top: 225px;
  z-index: -1;
}
.cloud-1 {
  position: absolute;
  right: 300px;
  bottom: 100px;
}
.cloud-2 {
  position: absolute;
  left: 100px;
  top: 50px;
}
.mountain {
  height: 500px;
  width: 500px;
}
h2 {
  font-size: 2.5rem;
  margin-bottom: 75px;
  color: #66bfbf;
  font-weight: normal;
}

h3 {
  color: #66bfbf;
}
a {
  color: #66bfbf;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.skill-img {
  width: 25%;
  cursor: pointer;
  opacity: 0.9;
  transition: all 0.3s;
}
.skill-img:hover {
  opacity: 1;
  width: 26%;
  height: 26%;
}

.html {
  float: left;
  margin-right: 30px;
}

.css {
  float: right;
  margin-left: 30px;
}

.last-h2 {
  margin-top: 200px;
}
.me {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.about-me {
  margin-bottom: 50px;
}
.hi {
  margin-bottom: 50px;
}

.btn {
  background-color: #66bfbf;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
}
.btn:hover {
  text-decoration: underline;
}
.btn:active {
  padding: 6px;
  font-size: 15px;
}

.bottom-container {
  margin-top: 80px;
  background-color: #66bfbf;
  padding: 50px;
}
.footer-link {
  color: #11999e;
  text-decoration: none;
  padding: 10px;
}

.name {
  color: white;
}

hr {
  width: 50px;
  border: dotted #cdd3d3 6px;
  border-bottom: none;
}
